header{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./img/pattern.jpg);
}
#title-brushes, #title-frames, #title-paint{
    margin: 15px;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#title-brushes{    
    background-color: mediumspringgreen;
}
#title-frames{
    background-color: lightcoral;
}
#title-paint{
    background-color: skyblue;
}
.starting-price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}