*{
    padding: 0;
    margin: 0;
}
header{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./img/pattern.jpg);
}

#title-brushes{
    margin: 50px auto;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}