
header{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./img/pattern.jpg);
}

#title-brushes{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.starting-price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}